.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Main container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

/* Article section */
.article {
  margin: 20px 0;
  width: auto;
}

.article img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

.article h2 {
  font-size: 24px;
  margin: 10px 0;
}

.article p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Form section */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.form-input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 200px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
}

/* Progress bar */
.progress {
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-inner {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  transition: width 0.3s ease-in-out;
}

/* Delete button */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

/* Toast notification styles */
.Toastify__toast {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}